extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    .card.text-left
        .card-header Bienvenido al Chat de #{chat.name}
        .card-body
            each par in chat.messages
                p #{par.author}: #{par.message}
    
    form(method="post")
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.row
            label.col-md-3.col-form-label.font-weight-bold.text-right(for='message') Message
            .col-md-7
                input.form-control(type='text', name='message', id='message')
        .form-group
            .offset-sm-3.col-md-7.pl-2
                button.btn.btn.btn-primary(type='submit')
                i.fas.fa-pencil-alt.fa-sm
                | Send