extends layout

block content
  h1 Neighborhood
  p.lead Find fun things to do with your local communities!
  hr
  .row
    .col-md-6
      h2 Make New Friends!
      p You can make new friends based on your interests.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Get to Know Your Community
      p You can easily interact with the people around you.
      p
        a.btn.btn-raised(href='#', role='button') View details »