extends layout

block content
  h1 TAGS
  p.lead The amazing gate to entertainment 
  h2
    each val in user.profile.tags
      a.btn.btn-dark.btn-block(href="/chat/" +val,role='button') #{val}


      